body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #f0f1f2;
}

.whole-page {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 2% 12% 2% 82% 2%;
  grid-template-rows: 2% 96% 2%;
}

.sidebar {
  grid-row: 2;
  grid-column: 2;
  margin: 0;
}

.canvas {
  grid-row: 2;
  grid-column: 4;
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0px 2px 12px 0px rgba(80, 96, 150, 0.1);
}
